.eventCard {
    display: flex;
    flex-direction: column;
    width: 100%;

    background: rgba(255, 254, 240, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.eventCardBody {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em !important;
    font-size: 14px;
    line-height: unset !important;
}

.image {
    object-fit: cover;
    flex: 1 0 33%;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.eventCardTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: unset !important;
    margin: 0;
}

.eventCardDate {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.eventCardDescription {
    font-size: 16px;
}


.eventButtons {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 0.5em;
}

.eventButtons>span {
    width: 100%;
}

.eventButtons a {
    text-decoration: none;
}

.eventButton {
    flex: 1;
    background: #5388D7;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
}

.eventButton:hover {
    color: white;
    background-color: #3E7BD7;
}

@media (min-width: 550px) {
    .image {
        max-height: 400px;
    }

    .eventCardBody {
        padding: 1.5em !important;
    }

    .eventCardTitle {
        font-size: 28px;
    }

    .eventCardDate {
        font-size: 20px;
    }

    .eventCardDescription {
        font-size: 20px;
    }

}

@media (min-width: 800px) {
    .eventCard {
        flex-direction: row;
    }

    .image {
        width: 200px;
        border-radius: 4px 0 0 4px;
    }

    .eventCardTitle {
        font-size: 32px;
    }

    .eventCardDescription {
        font-size: 20px;
    }

    .eventButtons {
        justify-content: flex-end;
        margin-top: auto;

    }

    .eventButton {
        flex: 0 1 50%;
    }

    .eventButton:only-child {
        flex: 0 1 calc(50% - 0.5em);
    }
}

@media (min-width: 1200px) {
    .eventCard {
        height: 300px;
    }
}