.eventCard {
    display: flex;
    flex-direction: column;
    width: 100%;

    background: rgba(255, 254, 240, 1);
    color: rgb(51, 51, 51);
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-radius: 4px;
}

.eventCardBody {
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em !important;
    line-height: unset !important;
}

.eventCardBody p {
    line-height: unset !important;
    margin: 0;
}

.image {
    object-fit: cover;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.eventCardTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-transform: unset !important;
    margin: 0;
}

.eventCardDate {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.eventCardDescription p:not(:last-of-type) {
    margin-bottom: 0.5em;
}

.eventButtons {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 0.5em;
}

.eventButtons > span {
    width: 100%;
}

.eventButtons a {
    text-decoration: none;
}

.eventButton {
    flex: 1;
    background: #5388d7;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

.eventButton:hover {
    color: white;
    background-color: #3e7bd7;
}

@media (min-width: 550px) {
    .eventCard {
        font-size: 20px;
    }

    .eventCardBody {
        padding: 1.5em !important;
    }

    .eventCardTitle {
        font-size: 28px;
    }

    .eventCardDate {
        font-size: 20px;
    }
}

@media (min-width: 800px) {
    .eventCard {
        flex-direction: row;
        min-height: 325px;
    }

    .image {
        max-width: 40%;
        max-height: none;
        border-radius: 4px 0 0 4px;
        padding: 1.5em 0 1.5em 1.5em;
    }

    .square {
        width: auto;
        object-fit: contain;
        margin-bottom: auto;
    }

    .eventCardTitle {
        font-size: 32px;
    }

    .eventButtons {
        justify-content: flex-end;
        margin-top: auto;
    }

    .eventButton {
        flex: 0 1 50%;
    }

    .eventButton:only-child {
        flex: 0 1 calc(50% - 0.5em);
    }
}

@media (min-width: 1000px) {
    .image {
        max-width: 400px;
    }
}

.eventCard.summerCamp {
    position: relative;
}
