.eventsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 2em;
    text-align: center;
    font-size: 16px;
    background: #fffef0;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.empty img {
    width: 100px;
}

@media only screen and (min-width: 550px) {
    .empty {
        font-size: 20px;
    }
}
