.calendarButton {
    text-decoration: none;
    background: #5388d7;
    padding: 0.5em 0.75em;
    color: white;
    border-radius: 4px;
    flex-grow: 0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.calendarButton:hover {
    background: #3e7bd7;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 550px) {
    .calendarButton {
        padding: 0.75em 1em;
        font-size: 20px;
    }
}
