.banner {
    height: 300px;
    padding: 15px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: start;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    text-decoration: none;
}

.banner:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: white;
}

.banner p {
    margin: 0;
    line-height: normal;
}

.banner a {
    color: #bb5500;
    text-decoration: none;
}

.banner a:hover {
    color: #ff8622;
    text-decoration: underline;
}

@media only screen and (min-width: 550px) {
    .banner {
        font-size: 50px;
        padding: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .banner {
        height: 375px;
        min-width: 49%;
        padding: 40px;
        flex: 1;
    }
}

@media only screen and (min-width: 1440px) {
    .banner {
        padding: 1em;
    }
}
