.categoryContainer {
    width: 100%;
    max-width: 1440px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.categoryContainerHeader {
    text-align: center;
    font-family: Montserrat, sans-serif;
    padding: 30px 0;
}

.categoryContainerHeader h1 {
    margin: 0;
    font-size: 38px;
    text-transform: none !important;
}

.categoryContainerHeader h1 span {
    white-space: nowrap;
}

@media only screen and (min-width: 550px) {
    .categoryContainerHeader h1 {
        font-size: 48px;
    }

    .categoryContainer {
        flex-direction: row;
        padding: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .categoryContainer {
        padding: 0 0 30px 0;
        /* width: 90%; */
    }

    .categoryContainerHeader h1 {
        font-size: 58px;
    }
}
