.banner {
    height: 375px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.banner p {
    margin: 10px;
    line-height: normal;
}

@media only screen and (min-width: 550px) {
    .banner {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    .banner {
        font-size: 63px;
    }
}
