.rate-card {
    width: 500px;
    min-height: 225px;
    margin: 20px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 9px;
    flex-shrink: 0;
    align-self: flex-start;
    font-size: 1.25em;
}

.rate-card-heading {
    margin: 0 0 1em 0;
}

.rate-card-heading h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.rate-card h3,
.rate-card h4 {
    margin: 0;
}

@media (max-width: 400px) {
    .rate-card {
        max-width: 100%;
        margin: 20px 0;
        padding: 1em;
        font-size: 1em;
    }

    .rate-card-heading h3 {
        font-size: 22px;
    }
}

@media (max-width: 550px) {
    .rate-card {
        width: 100%;
        font-size: 1.15em;
    }

    .rate-card-heading h3 {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .rate-card {
        margin: 20px auto;
        min-height: unset;
    }

    .rate-card-heading h3 {
        font-size: 26px;
    }
}
